asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.0
crispy-bootstrap4==2024.10
Django==5.1.4
django-bootstrap-modal-forms==3.0.5
django-bootstrap3==24.3
django-crispy-forms==2.3
django-embed-video==1.4.10
django-form-utils==1.0.3
django-form-utils-bootstrap3==0.2.0
django-forms-bootstrap==3.1.0
django-widget-tweaks==1.5.0
idna==3.10
pathlib==1.0.1
pillow==11.0.0
requests==2.32.3
sqlparse==0.5.3
tzdata==2024.2
urllib3==2.3.0
